.o {
    font-family: 'Oswald', sans-serif;
}

.os {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.f-14 {
    font-size: 14px;
    font-weight: 300;
    color: #565a60;
    line-height: 21px;
}

.f-18 {
    font-size: 18px;
}

.f-20 {
    font-size: 20px;
    font-weight: 300;
    color: #4b4e53;
    line-height: 42px;
}

.f-21 {
    font-size: 21px;
    font-weight: 300;
    color: #414146;
    line-height: 21px;
}

.f-24 {
    font-size: 24px;
}

.f-36 {
    font-size: 36px;
    font-weight: 300;
    color: #4b4e53;
    line-height: 42px;
}

.f-36 b {
    font-weight: 700;
}

.navbar-brand img {
    max-height: 30px;
    margin-left: 75px;
}

.navbar .collapse {
    padding-right: 75px;
}

.navbar .navbar-nav a {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover {
    background: #FFEA02;
}

.carousel img {
    max-height: 530px;
}

.judul-kuning h2 {
    background: #ffea00;
    padding: 24px;
    margin: 0;
    display: inline-block;
    z-index: 3 !important;
}

.judul-kuning:before {
    background: #FFF5A2;
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 10%;
    left: 0%;
    z-index: -2 !important;
}

.judul-kuning:after {
    background: white;
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 4%;
    left: 0%;
    z-index: -1 !important;
}

.judul-kuning h2:before {
    background: black;
    border-top: 5px solid #dfdfdf;
    content: "";
    position: absolute;
    display: block;
    left: 0%;
    width: 100%;
    margin-top: 10px;
    z-index: -3 !important;
}

.bg-abu{
    background: #EBECED;
}
