.o{
    font-family: 'Oswald', sans-serif;
}

.os{
    font-family: 'Open Sans', sans-serif;
}

a:hover{
    text-decoration: none;
}

.f-14{
    font-size: 14px;
    font-weight: 300;
    color: #565a60;
    line-height: 21px;
}

.f-18{
    font-size: 18px;
}

.f-20{
    font-size: 20px;
}

.f-21{
    font-size: 21px;
}

.f-24{
    font-size: 24px;
}

.f-36{
    font-size: 36px;
}

.navbar-brand img{
    max-height: 30px;
    margin-left: 75px;
}

.navbar .collapse{
    padding-right: 80px;
}

.navbar .navbar-nav a{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px!important;
    padding-right: 20px!important;
    background: #FFEA02;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover{
    opacity: 1;
}

.carousel img{
    max-height: 530px;
}