@media (max-width: 991.98px) {
    nav .menu {
        right: 11vw;
        position: relative;
        font-size: 2.5vw;
    }

    .navbar-toggler-icon {
        width: 0.8em;
        height: 0.8em;
        top: -1.5px;
        position: relative;
    }

    .navbar-toggler {
        border-radius: 200vw;
        padding: .55rem .75rem;
        border: 3px solid transparent;
    }

    .navbar-brand img {
        max-height: 10vw;
        margin-left: 0;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .navbar .collapse {
        padding-right: 0;
    }

    .navbar .navbar-nav a {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }
    
    .judul-biru::before{
        height: 11%;
    }
    
    .keuntungan .fa{
        font-size: 3vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    nav .menu {
        right: 13vw;
        position: relative;
        font-size: 3vw;
    }

    .navbar-toggler-icon {
        width: 0.8em;
        height: 0.8em;
        top: -1.3px;
        position: relative;
    }

    .navbar-toggler {
        border-radius: 200vw;
        padding: .55rem .75rem;
        border: 3px solid transparent;
    }

    .navbar-brand img {
        max-height: 10vw;
        margin-left: 0;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .navbar .collapse {
        padding-right: 0;
    }

    .navbar .navbar-nav a {
        padding-top: 2.5vw;
        padding-bottom: 2.5vw;
    }

    .f-36 {
        font-size: 6vw;
        line-height: 8vw;
    }
    
    .judul-biru::before{
        height: 11%;
    }

    footer .col-12 {
        margin-bottom: 10vw;
    }

    footer .f-24 {
        display: inline;
        margin-left: 2vw;
    }
    
    .bg-abu .col-md-2 img{
        max-height: 60vw;
    }
    
    .paginationn h2{
        font-size: 4vw;
    }
    
    .sub-paginationn.f-14{
        font-size: 2.5vw;
    }
    
    .intro .container-fluid{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .keuntungan .fa{
        font-size: 35px;
    }
}

@media (min-width: 300px) and (max-width: 576px) {

    nav .menu {
        right: 15vw;
        position: relative;
        font-size: 3.5vw;
    }

    .navbar-toggler-icon {
        width: 0.8em;
        height: 0.8em;
        top: -1.3px;
        position: relative;
    }

    .navbar-toggler {
        border-radius: 200vw;
        padding: .55rem .75rem;
        border: 3px solid transparent;
    }

    .navbar-brand img {
        max-height: 10vw;
        margin-left: 0;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .navbar .collapse {
        padding-right: 0;
    }

    .navbar .navbar-nav a {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .f-36, .intro {
        font-size: 6vw;
        line-height: 8vw;
    }
    
    .judul-biru::before{
        height: 11%;
    }

    footer .col-12 {
        margin-bottom: 10vw;
    }

    footer .f-24 {
        display: inline;
        margin-left: 2vw;
    }

    .bawah {
        margin-bottom: 20vw;
    }

    .whatsapp {
        display: none;
    }

    .melayang {
        display: block !important;
        position: fixed;
        bottom: 0;
        padding-top: 8vw;
        padding-bottom: 7vw;
    }

    .melayang .btn-wa {
        font-size: 4vw;
    }
    
    .paginationn h2{
        font-size: 5vw;
    }
    
    .sub-paginationn{
        top: -43px;
        right: 3.8vw;
    }
    
    .sub-paginationn.f-14{
        font-size: 3vw;
    }
    
    .intro .container-fluid{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .btn-hargaproduk{
        font-size: 4vw;
    }
    
    table{
        font-size: 3vw!important;
    }
    
    .keuntungan .fa{
        font-size: 30px;
    }
    
}
