.o {
    font-family: 'Oswald', sans-serif;
}

.os {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none;
}

.f-14 {
    font-size: 14px;
    font-weight: 300;
    color: #565a60;
    line-height: 21px;
}

56 .f-18 {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

.f-20 {
    font-size: 20px;
    font-weight: 300;
    color: #4b4e53;
    line-height: 42px;
}

.f-21 {
    font-size: 21px;
    font-weight: 300;
    color: #414146;
    line-height: 21px;
}

.f-24 {
    font-size: 24px;
}

.f-36 {
    font-size: 36px;
    font-weight: 300;
    color: #4b4e53;
    line-height: 42px;
}

.f-36 b {
    font-weight: 700;
}

.navbar-brand img {
    max-height: 30px;
    margin-left: 75px;
}

.navbar .collapse {
    padding-right: 75px;
}

.navbar .navbar-nav a {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover {
    background: #FFEA02;
}

.carousel img {
    max-height: 530px;
}

.judul-kuning h2 {
    background: #ffea00;
    padding: 24px;
    margin: 0;
    display: inline-block;
    z-index: 3 !important;
}

.judul-kuning:before {
    background: #FFF5A2;
    content: "";
    position: absolute;
    display: block;
    width: 25%;
    height: 10%;
    left: 0%;
    z-index: -2 !important;
}

.judul-kuning:after {
    background: white;
    content: "";
    position: absolute;
    display: block;
    width: 30%;
    height: 4%;
    left: 0%;
    z-index: -1 !important;
}

.judul-kuning h2:before {
    background: black;
    border-top: 4px solid #dfdfdf;
    content: "";
    position: absolute;
    display: block;
    left: 0%;
    width: 100%;
    margin-top: 10px;
    z-index: -3 !important;
}

.bg-abu {
    background: #EBECED;
}

.btn-wa {
    color: white;
    background: #259b24;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-wa:hover {
    background: #4B4E53;
    color: white;
}

.produk .hitam{
    background :black;
    padding: 10px;
    width:100%;
    height:100%;;
}

.produk img{
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.produk img:hover{
    opacity: 0.4;
}

.produk .judul-produk{
    bottom: 0;
    position: absolute;
    color: #6f6f73;
    padding: 20px 20px 0 0;
    line-height: 22px;
    background: white;
}

.produk .judul-produk:hover{
    color: #deae2e;
}

.keunggulan{
    color: #7e8082;
}